[Unit]
Description=Launch the Java Maven Server
After=network-online.target
Wants=network-online.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/Finn-Connor-AidanProject
ExecStart=/usr/lib/jvm/java-21-amazon-corretto/bin/java -jar target/dbot-1.0-SNAPSHOT-jar-with-dependencies.jar

[Install]
WantedBy=multi-user.target

